body {
	background-image: url("background.jpg");
    background-size: cover; /* Set background size to cover */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

*{
	font-family: sans-serif;
	box-sizing: border-box;
}

form {
	width: 500px;
    border: 2px solid #000000;
    padding: 30px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
}

h2 {
	text-align: center;
	margin-bottom: 40px;
}

input,select {
	display: block;
	border: 2px solid #706d6d;
	width: 95%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
}
label {
	color: #000000;
	font-size: 16px;
	padding: 10px;
	
}

button {
	float: right;
	background: #1b5699;
	padding: 10px 15px;
	color: #fff;
	border-radius: 15px;
	margin-right: 10px;
	border: none;
	width: 95%;
}
button:hover{
	opacity: .7;
}
.error {
   background: #F2DEDE;
   color: #A94442;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

h1 {
	text-align: center;
	color: #fff;
}
.container {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.column {
	flex: 1;
	padding: 0 10px;
}
.links {
    text-align: center;
}
.center{
    text-align: right;
    margin-right: 20px;
}



/**/

.column {
    flex: 1; /* Make each column take up equal space */
    padding: 0 10px;
    display: flex;
    flex-direction: column; /* Make the content stack vertically */
}