*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
:root {
  --accent-color: #fff;
  --gradient-color: #FBFBFB;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);
}

.sidebar{
  position: fixed;
  width: 240px;
  left: -240px;
  height: 100%;
  background-color: #fff;
  transition: all .5s ease;
  margin-top: 0;
}
.sidebar header{
  font-size: 28px;
  color: #353535;
  line-height: 70px;
  text-align: center;
  background-color: #fff;
  user-select: none;
  font-family: 'Lato', sans-serif;
}
.sidebar a{
  display: block;
  height: 65px;
  width: 100%;
  color: #353535;
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  border-left: 5px solid transparent;
  font-family: 'Lato', sans-serif;
  transition: all .5s ease;
}
a.active,a:hover{
  border-left: 5px solid var(--accent-color);
  color: #fff;
   background: linear-gradient(to left, var(--accent-color), var(--gradient-color));
}
.sidebar a i{
  font-size: 23px;
  margin-right: 16px;
}
.sidebar a span{
  letter-spacing: 1px;
  text-transform: uppercase;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  left: 5px;
  cursor: pointer;
  color: #d6adff;
  border-radius: 5px;
  margin: 15px 30px;
  font-size: 29px;
  background-color: #e8d1ff;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    inset -7px -7px 10px 0px rgba(0,0,0,.1),
   3.5px 3.5px 20px 0px rgba(0,0,0,.1),
   2px 2px 5px 0px rgba(0,0,0,.1);
  height: 45px;
  width: 45px;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
  line-height: 45px;
  transition: all .5s ease;
}
label #cancel{
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  margin-left: 245px;
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ label #cancel{
  margin-left: 245px;
  opacity: 1;
  visibility: visible;
}
@media(max-width : 860px){
  .sidebar{
    height: auto;
    width: 70px;
    left: 0;
    margin: 100px 0;
  }
  header,#btn,#cancel{
    display: none;
  }
  span{
    position: absolute;
    margin-left: 23px;
    opacity: 0;
    visibility: hidden;
  }
  .sidebar a{
    height: 60px;
  }
  .sidebar a i{
    margin-left: -10px;
  }
  a:hover {
    width: 200px;
    background: inherit;
  }
  .sidebar a:hover span{
    opacity: 1;
    visibility: visible;
  }
}

.sidebar > a.active,.sidebar > a:hover:nth-child(even) {
  --accent-color: #52d6f4;
  --gradient-color: #c1b1f7;
}
.sidebar a.active,.sidebar > a:hover:nth-child(odd) {
  --accent-color: #c1b1f7;
  --gradient-color: #A890FE;
}


.frame {
  width: 50%;
  height: 30%;
  margin: auto;
  text-align: center;
}

h2 {
  position: relative;
  text-align: center;
  font-size: 60px;
  font-family: 'Lato', sans-serif;
  margin: 0;
  color: #a759f5;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 30px;
  color: #d6adff;
  margin: 0;
}
.welcome {
  position: fixed;
  top: 7%;
  right: 100px; /* Adjust this value according to your sidebar width */
  transform: translateY(-50%);
  font-size: 24px;
  color: #fff;
  background-color: #a759f5;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 999;
}
.edit-content {
  margin-top: -160px;
  margin-bottom: 20px;
  width: 800px;
  height: 480px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: -100px;
}
.edit-content h1{
  font-family: 'Lato', sans-serif;
  color: #a759f5;
}

.edit-content .name-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-top: 15px;
}

.edit-content .input-group {
  width: 48%;
}

.edit-content label {
  font-size: 18px;
  color:#000000;
  margin-bottom: 5px;
  font-family: 'Lato', sans-serif;
}

.edit-content input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #a759f5;
  border-radius: 15px;
  font-size: 16px;
  color: #353535;
}

.edit-content .button-group {
  text-align: center;
  margin-top: 20px;
}

.edit-content button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #a759f5;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-content button:hover {
  background-color: #8e42e6;
}
.input-group input {
  width: calc(100% - 50px); /* Adjust the width as needed */
  margin-right: 15px; /* Add margin between inputs */
}
.session{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 2px solid #a759f5;
  height: 100px;
  width: 150px;
  margin-top: -180px;
  margin-left: -150px;
}
.session h1{
  font-size: 40px;
  margin: 0;
}
.history-result{
  background-color: #fff;
  border: 2px solid #a759f5;
  margin-top: 20px;
  margin-left: -150px;
  padding-top: 20px;
  height:400px;
  width: 1000px;
  overflow-y: auto;
}
.history-result p{
  font-size: 20px;
  padding-top: 20px;
}
.history-result h1{
  text-align: left;
  padding-left: 40px;
}
.history{
  font-family: 'Lato', sans-serif;
  color: #a759f5;
}
.reserve{
  margin-top: -150px;
}
.reserve h1 {
  margin: 50px 0;
  font-size: 50px;
  font-weight: 100;
  text-align: center;
  font-family: "Open Sans";
}

.reserve ul {
  width: 620px;
  margin-left: 50px;
}

.reserve ul li {
  float: left;
  list-style: none;
  margin-right: 10px;
  position: relative;
}

.reserve ul li a {
  font: 700 15px Open Sans;
  text-transform: uppercase;
  position: relative;
  color: #333333;
  text-decoration: none;
  border: 3px solid #000000;
  letter-spacing: 1px;
  padding: 10px 15px 10px 25px;
  display: block;
  width: 150px;
  z-index: 5000;
}

.reserve ul li a i {
  font-size: 12px !important;
  position: absolute;
  right: 10px;
  top: 14px;
}

.reserve ul li .drop-down {
  position: absolute;
  padding: 0;
  display: none;
  margin: 0;
  left: 0;
  z-index: 0;
}

.reserve ul li .drop-down li {
  position: relative;
  float: none;
}

.reserve ul li .drop-down li a {
  border-top: none;
  width: 150px;
}

.reserve ul li .drop-down li a:hover {
  background: #000000;
  color: #ffffff;
}

.reserve ul li .drop-down li:nth-of-type(1) a {
  border-top: none;
}

.reserve .accent {
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #000;
  position: absolute;
  transition: 0.3s ease;
}

.reserve .animate {
  width: 100%;
  transition: 0.3s ease;
}

.reserve .item:hover {
  color: #ffffff;
}

