*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppines',sans-serif;
}
.header{
  width: 100%;
  height: 100vh;
  background-image: url(images/background3.png);
  background-position: center;
  background-size: cover;
}
.side-nav {
  width: 110px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  padding: 30px 15px;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  transition: width 0.5s;
  flex-direction: column;
  transition: width 0.5s;
  padding-left: 20px;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60px;
  font-size: 12px;
  padding: 10px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  color: aliceblue;
  text-align: center;
}

.user div {
  display: none;
}

.user h2 {
  font-size: 20px;
  font-weight: 600;
  white-space: nowrap;
}

ul {
  list-style: none;
  padding: 0 15px;
}

ul li {
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: beige;
}

ul li a {
    display: flex;
    align-items: center; /* Align items vertically */
    text-decoration: none;
    color: #fff;
    padding: 10px; /* Add padding for spacing */
}

ul li i {
    width: 30px;
    margin-right: 10px; 
}

ul li p {
    margin: 0; /* Remove default margin */
    white-space: nowrap;
}

.side-nav:hover {
  width: 250px;
}

.side-nav:hover .user div {
  display: block;
}

.side-nav:hover .user {
  width: 80%;
  background: rgba(255, 255, 255, 0.123);
  backdrop-filter: blur(5px);
}

.side-nav:hover ul li p {
  display: block;
}

/* Move the hide <p> elements rule to here */
ul li:not(:hover) p {
    display: none;
}

.container {
  display: none;
  background-color:  rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 280px; /* Adjust according to the default width of your sidebar */
  z-index: 999;
  width: calc(98% - 280px); /* Adjust according to the default width of your sidebar */
  text-align: center;
  margin-top: 20px;
  transition: opacity 0.3s ease-in-out;
  height: 600px;
  padding-left: 80px;
  padding-right: 80px;
}
.container h1{
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}

#profileForm{
  padding-top: 30px;
}
#profileForm label {
  display: block;
  margin-bottom: 10px; /* Reduced margin-bottom */
}

#profileForm input[type="text"] {
  width: calc(100% - 20px); /* Adjusted width */
  margin-bottom: 15px; /* Reduced margin-bottom */
  padding: 10px; /* Reduced padding */
  border: 1px solid #ccc;
  border-radius: 4px; /* Reduced border radius */
}

#profileForm button {
  padding: 12px 24px; /* Reduced padding */
  font-size: 14px; /* Reduced font-size */
  border-radius: 10px;
}

.name-group {
  display: flex;
  justify-content: space-between;
}

.input-group {
  flex: 0 0 48%;
}

.input-group input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.button-group {
  margin-top: 20px; /* Reduced margin-top */
  text-align: right;
}
.input-group label{
  color: aliceblue;
  display: block;
  margin-bottom: 10px;
}
.input-group input {
  text-transform: capitalize;
}
.button-group button {
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

.success {
  color: rgb(255, 255, 255);
  background-color: green;

}

.error {
  color: red;
}